<h1>Edit Your Shopping List<h1>
<p><%= @error %></p>
<form action="/games/<%=@game.id%>%" method="post">
    <input type="hidden" name="_method" value="patch">
    <label>Title</label>
    <input type="text" name="title" value="<%= @game.title %>"> 
    <label>Type</label>
    <input type="text" name="genre" value="<%= @game.genre%>">
    <label>Rating</label>
    <input type="text" name="rating" value="<%= @game.rating%>">
    <br>
    <button type="submit">Edit List</button>

</form>